.image {
  position: relative;
  left: 0;
  width: 99%;
  height: 400px;
  border-radius: 15px;
}

.headingText {
  position: absolute;
  color: #c4d461;
  font-size: 72px;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);

}